<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCop" Description="Write code more good." ToolsVersion="14.0">
	<Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
	<Rule Id="SA1027" Action="None" />
	<Rule Id="SA1124" Action="None" />
	<Rule Id="SA1133" Action="None" />
	<Rule Id="SA1200" Action="None" />
	<Rule Id="SA1633" Action="None" />
	<Rule Id="SA1514" Action="None" />
	<Rule Id="SA1134" Action="Warning" />
	<Rule Id="SA1609" Action="Warning" />
	<Rule Id="SA1623" Action="Warning" />
	<Rule Id="SA1624" Action="Warning" />
	<Rule Id="SA1625" Action="Warning" />
	<Rule Id="SA1627" Action="Warning" />
	<Rule Id="SA1629" Action="Warning" />
	</Rules>
	
	<Rules AnalyzerId="Voxelscape.Naming" RuleNamespace="Our custom analyzers.">
	<Rule Id="VX1000" Action="Warning" />
	<Rule Id="VX1001" Action="Warning" />
	</Rules>
	
	<Rules AnalyzerId="Documentation" RuleNamespace="Set None to Warning to enable summary rules.">
	<Rule Id="SA1600" Action="None" />
	<Rule Id="SA1601" Action="None" />
	<Rule Id="SA1602" Action="None" />
	<Rule Id="SA1606" Action="None" />
	<Rule Id="SA1607" Action="None" />
	<Rule Id="CS1591" Action="None" />
	</Rules>
	
</RuleSet>